/* Attribute selector */

[data] {
color: purple
}

/* Attribute value */

[data-color="blue"] {
color: blue;
}

/* Attribute ~ */

[data-description~="green"] {
color: green;
}

/* Attribute | */

[data-position|="top"] {
color: brown;
}


/* Attribute ^ */

[class^="text"] {
color: teal;
}

/* Attribute $ */

[class$="text-m"] {
color: blueviolet;
}

/* Attribute * */

[class*="la"] {
color: darkgoldenrod;
}

/* Attribute value case-insensetive */ 
[class*="sm" i] {
color: red;
}

